<?xml version="1.0" encoding="utf-8" ?> 
<language>
	<word ref="Add">Add</word>
	<word ref="Save">Save</word>
	<word ref="Cancel">Cancel</word>
	<word ref="Created">Created</word>
	<word ref="Expires">Expires</word>
	<word ref="Text">Text</word>
	<word ref="ErrorScriptTags">Text contains script tags!</word>	
</language>