<?xml version="1.0" encoding="utf-8" ?>
<language>
	<word ref="Add">Hinzufügen</word>
	<word ref="Save">Speichern</word>
	<word ref="Cancel">Abbrechen</word>
	<word ref="Text">Text</word>
	<word ref="URL">URL</word>
	<word ref="Position">Position</word>
	<word ref="NewWindow">Neues&amp;nbsp;Fenster</word>
</language>