<?xml version="1.0" encoding="utf-8"?>
<language>
    <word ref="Manufacturer">Hersteller</word>
    <word ref="Model">Model</word>
    <word ref="SystemType">System Typ</word>
    <word ref="TotalPhysicalMemory">Total physischer Speicher</word>
    <word ref="Domain">Domain</word>
    <word ref="Username">Benutzername</word>
    <word ref="Processor">Prozessor</word>
    <word ref="ComputerSystem">Computer System</word>
    <word ref="Type">Typ</word>
    <word ref="ClockSpeed">Prozessortakt</word>
    <word ref="L2CacheSize">L2 Cache</word>
    <word ref="OS">Betriebssystem</word>
    <word ref="Version">Version</word>
    <word ref="WindowsDirectory">Windows Verzeichnis</word>
    <word ref="SerialNumber">Serien Nummer</word>
    <word ref="CLRVersion">CLR Version</word>
    <word ref="Common">Allgemein</word>
    <word ref="ComputerName">Computer Name</word>
    <word ref="UpTime">Up Time</word>
    <word ref="Days">Tage</word>
    <word ref="Hour">h</word>
    <word ref="Minute">min</word>
    <word ref="Second">s</word>
    <word ref="NotSupported">Die erforderliche Funktionalität ist von Ihrem Server nicht unterstützt.</word>
</language>