<?xml version="1.0" encoding="utf-8" ?>
<language>

  <word ref="Ok">OK</word>
  <word ref="Save">Save</word>
  <word ref="Cancel">Cancel</word>
  <word ref="CurrentDirectory">Current directory</word>
  <word ref="DirectoryNotFoundCreateQuestion">Could not find the defined directory '{0}'. Should it be created?</word>
  <word ref="CreateDirectory">Create directory</word>
  <word ref="CreateSubDirectory">Create subdirectory</word>
  <word ref="EditDirectory">Edit directory</word>
  <word ref="DirectoryNotFound">Directory not found</word>

  <word ref="AddFile">Add file</word>
  <word ref="EditFile">Edit file</word>
  <word ref="ToDirectory">Containing directory</word>
  <word ref="File">File</word>
  <word ref="Description">Description</word>
  <word ref="Name">Name</word>
  <word ref="Date">Date</word>
  <word ref="FileReplaceBy">Replace the file by</word>

  <word ref="NoFileSelected">No file selected</word>
  <word ref="InvalidFileName">Invalid filename</word>
  <word ref="FileAllreadyExists">File allready exists or invalid file name</word>
  <word ref="UploadException">An error occured by uploading the file</word>
  <word ref="Directoryname">Directoryname</word>
  <word ref="DeleteDirectory">Delete directory</word>
  <word ref="DeleteFile">Delete file</word>
  <word ref="DirectoryDeleteQuestion">Delete the directory with all its content irrevocablly?</word>
  <word ref="FileDeleteQuestion">Delete the file irrevocabbly?</word>

  <word ref="VirtualRootDirectory">Virtual root directory</word>
  <word ref="SortBy">Order by</word>
  <word ref="Ascending">ascending</word>
</language>