<?xml version="1.0" encoding="utf-8" ?> 
<language>
	<word ref="EditLink_Text">Edit</word>
	<word ref="EditMenu_EditContent">Edit Content</word>
	<word ref="EditMenu_EditModule">Edit Module</word>
	<word ref="EditMenu_MoveUp">Move Up</word>
	<word ref="EditMenu_MoveDown">Move Down</word>
	<word ref="EditMenu_MoveLeft">Move Left</word>
	<word ref="EditMenu_MoveRight">Move Right</word>
	<word ref="Welcome">Welcome</word>
	<word ref="Logoff">Logoff</word>
	<word ref="EditTabLink_Text">Edit Tab</word>
	<word ref="EditTabMenu_AddTab">Add Tab</word>
	<word ref="EditTabMenu_EditTab">Edit Tab</word>
	<word ref="EditTabMenu_DeleteTab">Delete Tab</word>
	<word ref="EditTabMenu_AddLeftModule">Add left Module</word>
	<word ref="EditTabMenu_AddMiddleModule">Add middle Module</word>
	<word ref="EditTabMenu_AddRightModule">Add right Module</word>
	<word ref="Save">Save</word>
	<word ref="Cancel">Cancel</word>
	<word ref="Delete">Delete</word>
	<word ref="Title">Title</word>
	<word ref="Reference">Reference</word>
	<word ref="Type">Type</word>
	<word ref="ReferenceRequired">Reference is required</word>
	<word ref="TitleRequired">Title is required</word>
	<word ref="TypeRequired">Type is required</word>
	<word ref="ModuleData">Module Data</word>
	<word ref="RoleType">Role Type</word>
	<word ref="Role">Role</word>
	<word ref="RoleView">View</word>
	<word ref="RoleEdit">Edit</word>
	<word ref="ModulesLeft">Modules Left</word>
	<word ref="ModulesMiddle">Modules Middle</word>
	<word ref="ModulesRight">Modules Right</word>
	<word ref="exception_DuplicateTabReferenceFound">Duplicate Tab Reference found</word>	
	<word ref="exception_DuplicateModuleReferenceFound">Duplicate Module Reference found</word>
  <word ref="exception_NullReferenceParameter">Parameter is null.</word>
  <word ref="exception_UserNotFound">User not found</word>
  <word ref="exception_DeletingOfAdminNotAllowed">Deleteing Admin User is not allowed!</word>
  <word ref="NewTabTitle">New Tab</word>
  <word ref="ErrorWritingModulesConfig">Error writing Modules Config.</word>
  <word ref="ErrorWritingModulesConfigDataset">Error writing Modules Config as Dataset.</word>
  <word ref="ErrorLoadingModulesConfigDataset">Error loading Modules Config.</word>
  <word ref="ErrorLoadingModulesCommonConfig">Error loading Modules Common Config.</word>
  <word ref="ErrorLoadingModulesConfigDataset">Error loading Modules Config as Dataset.</word>
</language>