<?xml version="1.0"?>
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">

  <!-- Load the settings from the settings.config file -->
  <appSettings file="Data/PortalData/settings.config">
    <!-- Path, where the portal configuration files should be stored. ~ stands for the root directory of the portal. -->
    <add key="ConfigDataPath" value="~/Data/PortalData/"/>
  </appSettings>
  
	<system.web>
  <!-- File Size for uload in KB -->
    <httpRuntime maxRequestLength="4096" />
		<!--
		Tab HttpHandler
	-->
		<trace enabled="true"/>
		<httpHandlers>
			<add verb="*" path="*.tab.aspx" type="Portal.TabHttpHandler"/>
		</httpHandlers>
		<pages validateRequest="false"/>
		<!--  DYNAMIC DEBUG COMPILATION
          Set compilation debug="true" to enable ASPX debugging.  Otherwise, setting this value to
          false will improve runtime performance of this application. 
          Set compilation debug="true" to insert debugging symbols (.pdb information)
          into the compiled page. Because this creates a larger file that executes
          more slowly, you should set this value to true only when debugging and to
          false at all other times. For more information, refer to the documentation about
          debugging ASP .NET files.
    -->
		<!--  AUTHENTICATION 
          This section sets the authentication policies of the application. Possible modes are "Windows", "Forms", 
          "Passport" and "None"
    -->
		<authentication mode="Forms">
      <forms name="dotnetportal.auth">
      </forms>
		</authentication>
    
		<compilation defaultLanguage="c#" debug="true">
			<compilers>
				<compiler language="c#" type="Microsoft.CSharp.CSharpCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" extension=".cs" compilerOptions="/d:DEBUG;TRACE /unsafe"/>
			</compilers>
			<assemblies>
				<add assembly="System.Management, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Data, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Drawing, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Xml, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Design, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/></assemblies>
		</compilation>
    <!-- User Interface Languages. Possible values can be found here:
    http://msdn2.microsoft.com/en-us/library/system.globalization.cultureinfo(vs.71).aspx
    German-Austria:
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" culture="de-AT" uiCulture="de-AT"/>
    -->
		<globalization requestEncoding="utf-8" responseEncoding="utf-8" culture="en-US" uiCulture="en-US"/>
	</system.web>

</configuration>
