<?xml version="1.0" encoding="utf-8" ?> 
<language>
	<word ref="TitleDefinition">Definition</word>
	<word ref="TitleData">Daten</word>
	<word ref="Add">Hinzufügen</word>
	<word ref="ColumnName">Spaltenname</word>
	<word ref="Width">Breite</word>
	<word ref="Update">Speichern</word>
	<word ref="Cancel">Abbrechen</word>
	<word ref="ErrorScriptTags">Text enthält Script-Tags!</word>	
</language>