<?xml version="1.0" encoding="utf-8" ?>
<language>
	<word ref="Add">Add</word>
	<word ref="Save">Save</word>
	<word ref="Cancel">Cancel</word>
	<word ref="Remove">Remove</word>
	<word ref="Edit">Edit</word>
	<word ref="From">From</word>
	<word ref="Email">Email</word>
	<word ref="Url">Url</word>
	<word ref="Title">Title</word>
	<word ref="Message">Message</word>
	<word ref="Comment">Comment</word>
	<word ref="AdditionalUserInfos">Additional user informations</word>
	<word ref="NewMessageNotification">Notification on new entry</word>
	<word ref="EmailNotification">Email notification</word>
	<word ref="EmailFrom">Email from</word>
	<word ref="EmailTo">Email to</word>
	<word ref="Subject">Subject</word>
	<word ref="EmailServer">Email server</word>
	<word ref="AuthentificationRequired">Server needs authentification</word>
	<word ref="Username">Username</word>
	<word ref="Password">Password</word>
	<word ref="ErrorSendingNotification">Unable to send the notification email.</word>
</language>