<?xml version="1.0" encoding="utf-8" ?>
<language>
	<word ref="Add">Hinzufügen</word>
	<word ref="Save">Speichern</word>
	<word ref="Cancel">Abbrechen</word>
	<word ref="Remove">Entfernen</word>
	<word ref="Edit">Bearbeiten</word>
	<word ref="From">Von</word>
	<word ref="Email">Email</word>
	<word ref="Url">Url</word>
	<word ref="Title">Titel</word>
	<word ref="Message">Mitteilung</word>
	<word ref="Comment">Kommentar</word>
	<word ref="AdditionalUserInfos">Zusätzliche Angaben des Besuchers</word>
	<word ref="NewMessageNotification">Benachrichtigung bei neuem Eintrag</word>
	<word ref="EmailNotification">Email Benachrichtigung</word>
	<word ref="EmailFrom">Email von</word>
	<word ref="EmailTo">Email an</word>
	<word ref="Subject">Betreff</word>
	<word ref="EmailServer">Email Server</word>
	<word ref="AuthentificationRequired">Server benötigt Authentifikation</word>
	<word ref="Username">Benutzername</word>
	<word ref="Password">Passwort</word>
	<word ref="ErrorSendingNotification">Das Mail zur Benachrichtigung konnte nicht gesendet werden.</word>
</language>