<?xml version="1.0" encoding="utf-8" ?>
<language>
  <word ref="Ok">OK</word>
  <word ref="Save">Speichern</word>
  <word ref="Cancel">Abbrechen</word>
  <word ref="CurrentDirectory">Aktuelles Verzeichnis</word> 
  <word ref="DirectoryNotFoundCreateQuestion">Das angegebene Zielverzeichnis '{0}' konnte nicht gefunden werden. Soll es erstellt werden?</word>
  <word ref="CreateDirectory">Verzeichnis erstellen</word> 
  <word ref="CreateSubDirectory">Unterverzeichnis erstellen</word> 
  <word ref="EditDirectory">Verzeichnis bearbeiten</word> 
  <word ref="DirectoryNotFound">Verzeichnis nicht gefunden</word> 
  
  <word ref="AddFile">Datei hinzufügen</word>
  <word ref="EditFile">Datei ändern</word>
  <word ref="ToDirectory">Zum Verzeichnis</word>
  <word ref="File">Datei</word>
  <word ref="Description">Beschreibung</word>
  <word ref="Name">Name</word>
  <word ref="Date">Datum</word>
  <word ref="FileReplaceBy">Datei ersetzen durch</word>

  <word ref="NoFileSelected">Keine Datei ausgewählt</word>
  <word ref="InvalidFileName">Ungültiger Dateiname</word>
  <word ref="FileAllreadyExists">Datei existiert bereits oder Dateiname nicht erlaubt</word>
  <word ref="UploadException">Beim Upload der Datei trat ein Fehler auf.</word>
  <word ref="Directoryname">Verzeichnisname</word>
  <word ref="DeleteDirectory">Verzeichnis löschen</word>
  <word ref="DeleteFile">Datei löschen</word>
  <word ref="DirectoryDeleteQuestion">Soll das Verzeichnis mit allen enthaltenen Dateien und Unterverzeichnissen unwiederruflich gelöscht werden?</word>
  <word ref="FileDeleteQuestion">Soll die Datei unwiederruflich gelöscht werden?</word> 
  
   <word ref="VirtualRootDirectory">Virtuelles Root Verzeichnis</word>  
   <word ref="SortBy">Sortierkriteriums</word>
  <word ref="Ascending">aufsteigend</word>
</language>