<?xml version="1.0" encoding="utf-8" ?> 
<language>
	<word ref="Browser">Browser</word>
	<word ref="ActiveXControls">Active X Controls</word>
	<word ref="ClrVersion">Clr Version</word>
	<word ref="Cookies">Cookies</word>
	<word ref="EcmaScriptVersion">Ecma Script Version</word>
	<word ref="Frames">Frames</word>
	<word ref="JavaScript">JavaScript</word>
	<word ref="MajorVersion">MajorVersion</word>
	<word ref="MinorVersion">MinorVersion</word>
	<word ref="Platform">Platform</word>
	<word ref="Version">Version</word>
</language>