<?xml version="1.0" encoding="utf-8" ?> 
<language>
	<word ref="Back">Back</word>
	<word ref="Save">Save</word>
	<word ref="Delete">Delete</word>
	<word ref="Account">Account</word>
	<word ref="Password">Password</word>
	<word ref="FirstName">First name</word>
	<word ref="SurName">Sur name</word>
	<word ref="EMail">EMail</word>
	<word ref="Select">S</word>
	<word ref="Role">Role</word>
	<word ref="AddUser">Add User</word>
	<word ref="Roles">Roles</word>
</language>