<?xml version="1.0" encoding="utf-8" ?> 
<language>
	<word ref="From">Ihre&amp;nbsp;Adresse</word>
	<word ref="Subject">Betreff</word>
	<word ref="Message">Nachricht</word>
	<word ref="FromAddressMissing">Adresse fehlt</word>
	<word ref="FromAddressInvalid">Adresse ist ungültig</word>
	<word ref="SubjectMissing">Betreff fehlt</word>
	<word ref="BodyMissing">Nachricht fehlt</word>
	<word ref="MailSendSuccessfully">Mail wurde erfolgreich gesendet</word>
	<word ref="NotConfigured">Modul ist noch nicht konfiguriert!</word>
	<word ref="Error">Fehler beim Senden der Mail</word>
	<word ref="BodyMailFrom">Mail von </word>
	<word ref="Send">Senden</word>
	<word ref="EditFromAddress">Absender</word>
	<word ref="EditToAddress">Empfänger</word>
	<word ref="EditDefaultMessage">Nachricht</word>
	<word ref="SaveBack">Speichern &amp; zurück</word>
</language>