<?xml version="1.0" encoding="utf-8" ?> 
<language>
	<word ref="From">Your Address</word>
	<word ref="Subject">Subject</word>
	<word ref="Message">Message</word>
	<word ref="FromAddressMissing">From Address is missing</word>
	<word ref="FromAddressInvalid">From Address is invalid</word>
	<word ref="SubjectMissing">Subject is missing</word>
	<word ref="BodyMissing">Message is missing</word>
	<word ref="MailSendSuccessfully">Mail send successfully</word>
	<word ref="NotConfigured">Not configured yet!</word>
	<word ref="Error">Error sending mail</word>
	<word ref="BodyMailFrom">Mail from </word>
	<word ref="Send">Send</word>
	<word ref="EditFromAddress">From&amp;nbsp;Address</word>
	<word ref="EditToAddress">To&amp;nbsp;Address</word>
	<word ref="EditDefaultMessage">Default&amp;nbsp;Message</word>
	<word ref="SaveBack">Save &amp;nbsp; Back</word>
</language>