<?xml version="1.0" encoding="utf-8" ?> 
<language>
  <word ref="Add">Add</word>
  <word ref="EventOverviewTitle">Changes to the content</word>
  <word ref="AddEvent">Add event</word>
  <word ref="EditEvent">Edit event</word>
  <word ref="EventPreviewTooltip">Content Preview of that event</word>
  <word ref="EventData">Event data</word>
  <word ref="Back">Back</word>
  <word ref="Save">Save</word>
  <word ref="Delete">Delete</word>
  <word ref="SaveBack">Save and back</word>
  <word ref="Cancel">Cancel</word>
  <word ref="EventDate">Event date</word>
  <word ref="EventHint">Event hint</word>
  <word ref="ContentPage">Content Page</word>
  <word ref="CreatePageFromTemplate">Create from template</word>
  <word ref="CreatePageFromTemplateTooltip">Creates the content from the selected template and opens the content for editing</word>
  <word ref="EditPage">Edit page</word>
  <word ref="EmptyPage">Empty page</word>
  <word ref="EventDeleteConfirmation">Delete the event with all its content?</word>
  <word ref="PreviousEvent">&lt;&lt; Previous event</word>
  <word ref="NextEvent">Next event &gt;&gt;</word>
  <word ref="PreviousEventTooltip">Content preview of the previous event</word>
  <word ref="NextEventTooltip">Content preview of the next event</word>
  <word ref="CleanUpInfo">Deletes all the past events up to the selected one.</word>
  <word ref="ThresholdEvent">Newest event to delete:</word>
  <word ref="RemoveInfo">(There will be {0} events deleted)</word>

  <word ref="CleanUp">Delete old events</word>
  <word ref="CleanUpTooltip">Deletes all the past events up to the selected one</word>
  <word ref="CleanUpConfirmation">Delete the events with all its content?</word>
</language>