<?xml version="1.0" encoding="utf-8" ?> 
<language>
	<word ref="Save">Save</word>
	<word ref="Cancel">Cancel</word>
	<word ref="Delete">Delete</word>
	<word ref="Title">Title</word>
	<word ref="Reference">Reference</word>
  <word ref="ImagePathI">Tab-Image (Inactive)</word>
  <word ref="ImagePathA">Tab-Image (Active)</word>
	<word ref="Type">Type</word>
	<word ref="ReferenceRequired">Reference is required</word>
	<word ref="TitleRequired">Title is required</word>
	<word ref="TypeRequired">Type is required</word>
	<word ref="ModuleData">Module Data</word>
	<word ref="TabData">Tab Data</word>
	<word ref="AddModule">Add Module</word>
	<word ref="RoleType">Role Type</word>
	<word ref="Role">Role</word>
	<word ref="RoleView">View</word>
	<word ref="RoleEdit">Edit</word>
	<word ref="SubTabs">Sub Tabs</word>
	<word ref="AddTab">Add Tab</word>
	<word ref="ModulesLeft">Modules Left</word>
	<word ref="ModulesMiddle">Modules Middle</word>
	<word ref="ModulesRight">Modules Right</word>
</language>