<?xml version="1.0" encoding="utf-8" ?> 
<language>
	<word ref="Save">Speichern</word>
	<word ref="Cancel">Abbrechen</word>
	<word ref="Delete">Löschen</word>
	<word ref="Title">Titel</word>
	<word ref="Reference">Identifikation</word>
  <word ref="ImagePathI">Tab-Grafik (Inaktiv)</word>
  <word ref="ImagePathA">Tab-Grafik (Aktiv)</word>
	<word ref="Type">Typ</word>
	<word ref="ReferenceRequired">Identifikation ist erforderlich</word>
	<word ref="TitleRequired">Titel ist erforderlich</word>
	<word ref="TypeRequired">Typ ist erforderlich</word>
	<word ref="ModuleData">Modul Daten</word>
	<word ref="TabData">Tab Daten</word>
	<word ref="AddModule">Modul hinzufügen</word>
	<word ref="RoleType">Rollen Typ</word>
	<word ref="Role">Rolle</word>
	<word ref="RoleView">Lesen</word>
	<word ref="RoleEdit">Bearbeiten</word>
	<word ref="SubTabs">Unterstruktur</word>
	<word ref="AddTab">Tab hinzufügen</word>
	<word ref="ModulesLeft">Module Links</word>
	<word ref="ModulesMiddle">Module Mitte</word>
	<word ref="ModulesRight">Module Rechts</word>
</language>