<?xml version="1.0" encoding="utf-8" ?>
<language>
  <word ref="NewThread">Neuer Beitrag...</word>
  <word ref="OpenedBy">Eröffnet von</word>
  <word ref="Answer">Antworten</word>
  <word ref="LastArticle">Letzter Beitrag</word>
  <word ref="Thread">Thread</word>
  <word ref="Search">Suchen:</word>
  <word ref="Save">Speichern</word>
  <word ref="Cancel">Abbrechen</word>
  <word ref="DefineThreadCreationRight">Definiert, wer neue Threads erstellen darf:</word>
  <word ref="UseHTMLEditorOnTopLevel">Verwende HTML Editor für Top-Level Beiträge:</word>
  <word ref="UseHTMLEditorOnOtherLevels">Verwende HTML Editor für restliche Beiträge:</word>
  <word ref="Back">Zurück...</word>
  <word ref="Author">Author</word>
  <word ref="Articles">Beiträge</word>
  <word ref="Remove">Entfernen</word>
  <word ref="Submit">Abschicken</word>
  <word ref="Name">Name:</word>
  <word ref="Email">Email:</word>
  <word ref="Title">Titel:</word>
  <word ref="Text">Text:</word>
  <word ref="Smiley">Smiley:</word>
  <word ref="SearchResults">Suchergebnisse</word>
  <word ref="Date">Datum</word>
  <word ref="Hits">Treffer</word>
</language>