<?xml version="1.0" encoding="utf-8" ?>
<language>
  <word ref="NewThread">New thread...</word>
  <word ref="OpenedBy">Opened by</word>
  <word ref="Answer">Answer</word>
  <word ref="LastArticle">Last article</word>
  <word ref="Thread">Thread</word>
  <word ref="Search">Search:</word>
  <word ref="Save">Save</word>
  <word ref="Cancel">Cancel</word>
  <word ref="DefineThreadCreationRight">Defines, who has the right to create new threads:</word>
  <word ref="UseHTMLEditorOnTopLevel">Use HTML Editor for top level articles:</word>
  <word ref="UseHTMLEditorOnOtherLevels">Use HTML editor on other levels:</word>
  <word ref="Back">Back...</word>
  <word ref="Author">Author</word>
  <word ref="Articles">Articles</word>
  <word ref="Remove">Remove</word>
  <word ref="Submit">Submit</word>
  <word ref="Name">Name:</word>
  <word ref="Email">Email:</word>
  <word ref="Title">Title:</word>
  <word ref="Text">Text:</word>
  <word ref="Smiley">Smiley:</word>
  <word ref="SearchResults">Search results</word>
  <word ref="Date">Date</word>
  <word ref="Hits">Hits</word>
</language>