<?xml version="1.0" encoding="utf-8" ?>
<language>
	<word ref="Save">Speichern</word>
	<word ref="Account">Konto</word>
	<word ref="Password">Passwort</word>
	<word ref="FirstName">Vorname</word>
	<word ref="SurName">Nachname</word>
	<word ref="EMail">EMail</word>
	<word ref="InvalidPassword">Passwörter sind nicht gleich</word>	
	<word ref="SuccessfullySaved">Benutzerdaten gespeichert</word>		
</language>