<?xml version="1.0" encoding="utf-8" ?> 
<language>
	<word ref="TitleDefinition">Definition</word>
	<word ref="TitleData">Data</word>
	<word ref="Add">Add</word>
	<word ref="ColumnName">Column Name</word>
	<word ref="Width">Width</word>
	<word ref="Update">Update</word>
	<word ref="Cancel">Cancel</word>
	<word ref="ErrorScriptTags">Text contains script tags!</word>	
</language>