<?xml version="1.0" encoding="utf-8" ?>
<language>
	<word ref="login">Login</word>
	<word ref="firstName">Firstname</word>
	<word ref="lastName">Lastname</word>
	<word ref="lastLogin">Last Login</word>
	<word ref="loginCount">Login Count</word>
  <word ref="loginTitle">Login Statistic</word>
  <word ref="overviewTitle">Portal-Access Overview</word>
  <word ref="monthSummary">Summary</word>
  <word ref="month">Month</word>
  <word ref="dayAverage">Day average</word>
  <word ref="monthSum">Sum over Month</word>
  <word ref="requests">Requests</word>
  <word ref="visits">Visits</word>
  <word ref="back">Back...</word>
  <word ref="url">URL</word>
  <word ref="monthlyRequestsTitle">Top {0} of {1} URLs</word>
  <word ref="monthlyStatisticTitle">Monthly-Statistics for {0} {1}</word>
  <word ref="sumRequests">Total requests</word>
  <word ref="sumVisits">Total visits</word>
  <word ref="requestsPerDay">Request per day</word>
  <word ref="visitsPerDay">Visits per day</word>
</language>