<?xml version="1.0" encoding="utf-8" ?>
<language>
  <word ref="login">Login</word>
  <word ref="firstName">Vorname</word>
  <word ref="lastName">Nachname</word>
  <word ref="lastLogin">Letztes Login</word>
  <word ref="loginCount">Anzahl Logins</word>
  <word ref="loginTitle">Login Statistik</word>
  <word ref="overviewTitle">Übersicht aller Portal-Zugriffe</word>
  <word ref="monthSummary">Zusammenfassung nach Monaten</word>
  <word ref="month">Monat</word>
  <word ref="dayAverage">Tagesdurchschnitt</word>
  <word ref="monthSum">Monatssumme</word>
  <word ref="requests">Anfragen</word>
  <word ref="visits">Besuche</word>
  <word ref="back">Zurück...</word>
  <word ref="url">URL</word>
  <word ref="monthlyRequestsTitle">Top {0} von {1} URLs</word>
  <word ref="monthlyStatisticTitle">Monats-Statistik für {0} {1}</word>
  <word ref="sumRequests">Summe Anfragen</word>
  <word ref="sumVisits">Summe Besuche</word>
  <word ref="requestsPerDay">Anfragen pro Tag</word>
  <word ref="visitsPerDay">Besuche pro Tag</word>
</language>